.button {
  font: inherit;
  border: 1px solid #4f1100;
  background: #4f1100;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  width: 100%;
}

.button:hover,
.button:active {
  background: #4f1100;
  border-color: #4f1100;
}

.button:focus {
  outline: none;
}
